absl-py==0.10.0
adal==1.2.5
alabaster==0.7.12
aniso8601==8.0.0
argon2-cffi==20.1.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
autopep8==1.4.4
azure-common==1.1.26
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
Babel==2.9.0
backcall==0.2.0
bleach==3.2.1
cachetools==4.1.1
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
configobj==5.0.6
configparser==5.0.1
crcmod==1.7
cryptography==3.2.1
cycler==0.10.0
debtcollector==2.2.0
decorator==4.4.2
deepdiff==3.3.0
defusedxml==0.6.0
Deprecated==1.2.10
dill==0.3.3
dnspython==2.0.0
docstring-parser==0.7.3
docutils==0.16
entrypoints==0.3
flatbuffers==1.12
gast==0.3.3
google-api-core==1.23.0
google-auth==1.23.0
google-auth-oauthlib==0.4.3
google-cloud-core==1.4.3
google-cloud-storage==1.32.0
google-crc32c==1.0.0
google-pasta==0.2.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
graphviz==0.14.2
grpcio==1.32.0
h5py==2.10.0
idna==2.10
imagesize==1.2.0
importlib-metadata==2.0.0
importlib-resources==3.3.0
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso8601==0.1.13
jedi==0.17.2
Jinja2==2.11.2
json5==0.9.5
jsonpickle==1.4.1
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab==2.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
kaggle==1.5.12
Keras-Preprocessing==1.1.2
keystoneauth1==4.2.1
kfp @ file:///kfp-sdk
kfp-pipeline-spec==0.1.2
kfp-server-api==1.0.4
kfserving==0.4.1
kiwisolver==1.3.1
kubeflow-kale @ file:///kale/backend
kubernetes==11.0.0
latexcodec==2.0.1
lockfile==0.12.2
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.4
minio==6.0.0
mistune==0.8.4
ml-metadata==0.24.0
monotonic==1.5
msgpack==1.0.0
nbclient==0.5.1
nbconvert==5.6.1
nbformat==4.4.0
nest-asyncio==1.4.3
netaddr==0.8.0
netifaces==0.10.9
networkx==2.5
notebook==6.1.5
numpy==1.19.4
oauthlib==3.1.0
opt-einsum==3.3.0
os-service-types==1.7.0
oslo.config==8.3.2
oslo.i18n==5.0.1
oslo.serialization==4.0.1
oslo.utils==4.7.0
packaging==20.4
pandocfilters==1.4.3
parso==0.7.1
pbr==5.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
prettytable==1.0.1
progress==1.5
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.13.0
psutil==5.7.3
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybtex==0.23.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.7.2
PyJWT==1.7.1
pyparsing==2.4.7
Pyro4==4.80
pyrsistent==0.17.3
python-daemon==2.2.4
python-dateutil==2.8.1
python-etcd==0.4.5
python-keystoneclient==4.1.1
python-slugify==4.0.1
pythondialog==3.5.1
pytz==2020.4
pyvmomi==6.5.0.2017.5.post1
PyYAML==5.3.1
pyzmq==19.0.2
requests==2.25.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rok-common==1.0rc0.post0+997.gefd49e9f4
rok-etcd-client==1.0rc0.post0+997.gefd49e9f4
rok-fort-client==1.0rc0.post0+997.gefd49e9f4
rok-gw-client==1.0rc0.post0+997.gefd49e9f4
rok-kubernetes==1.0rc0.post0+997.gefd49e9f4
rok-tasks==1.0rc0.post0+997.gefd49e9f4
rsa==4.6
scipy==1.5.4
Send2Trash==1.5.0
serpent==1.30.2
simplejson==3.17.2
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.3.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
stevedore==3.2.2
strip-hints==0.1.9
table-logger==0.3.6
tabulate==0.8.7
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
text-unidecode==1.3
tornado==6.1
tqdm==4.59.0
traitlets==4.3.3
typing-extensions==3.7.4.3
tzlocal==2.1
udatetime==0.0.16
unicodecsv==0.14.1
urllib3==1.26.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==3.4.0
